<!-- Sticky Navbar -->
<nav id='navbarTop' class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Coffee Capital</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                {{#if logged_in}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="./profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" id="logout">Logout</a></li>
                    </ul>
                </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link active" href="./login">Login</a>
                    </li>
                {{/if}}
                {{#if logged_in}}
                <li class="nav-item">
                    <a class="nav-link">Welcome back!</a>
                    </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link">Make a free account!</a>
                    </li>
                {{/if}}
            </ul>
            <a href="/cart/" class="btn btn-primary" role="button">Shopping Cart{{cart.totalQty}}</a>
        </div>
    </div>
</nav>

<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <img id="coffeeCapitalLogo"  href="/" src="/images/CoffeeCapitalLogoTrm.png">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                {{#if logged_in}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="./profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" id="logout">Logout</a></li>
                    </ul>
                </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link active" href="./login">Login</a>
                    </li>
                    {{/if}}


                    {{#if logged_in}}
                    <li class="nav-item">
                        <a class="nav-link">Welcome back!</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Make an account for free!</a>
                    </li>
                    {{/if}}
            </ul>
            <a href="/cart/" class="btn btn-primary" role="button">Shopping Cart{{cart.totalQty}}</a>
        </div>
    </div>
</nav>

{{#if products}}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul class="list-group">
            {{#each products as |product| }}
            <li class="list-group-item">
                <span class="badge badge-light">2</span>
                <p>Quantity: {{product.qty}}</p>
                <p>{{product.item.name}}</p>
                <span class="label label-success">${{product.price}}</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-xs dropdown-toggle" type="Button" data-toggle="dropdown">Action
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu"></ul>
            <li><a href="#">Reduce by 1</a></li>
            <li><a href="#">Remove All</a></li>

    </div>

    </li>
    {{/each}}
    </ul>
</div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <strong>Total ${{totalPrice}}:</strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <button type="button" class="btn btn-success">Checkout</button>
    </div>
</div>
{{else}}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <h2>No items in Cart</h2>
    </div>
</div>
{{/if}}